openapi: 3.0.3
info:
  title: 组织中心API文档
  description: |
    Coze Studio 企业级多租户SaaS平台 - 组织中心RESTful API

    ## 功能模块
    - 组织管理
    - 部门管理
    - 岗位管理
    - 员工管理
    - 合同管理
    - 调岗管理
    - 离职管理
    - 企业通讯录

  version: 1.0.0
  contact:
    name: Coze Studio API Support
    email: api-support@coze-studio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.coze-studio.com/v1
    description: 生产环境
  - url: https://api-staging.coze-studio.com/v1
    description: 预发布环境
  - url: http://localhost:8080/v1
    description: 本地开发环境

tags:
  - name: 组织管理
    description: 组织架构的增删改查操作
  - name: 部门管理
    description: 部门的增删改查和树形结构操作
  - name: 岗位管理
    description: 岗位的增删改查操作
  - name: 员工管理
    description: 员工的增删改查和生命周期管理
  - name: 合同管理
    description: 员工合同的创建和管理
  - name: 调岗管理
    description: 员工调岗记录管理
  - name: 离职管理
    description: 员工离职流程管理
  - name: 通讯录
    description: 企业通讯录查询和搜索

paths:
  /organizations:
    get:
      tags:
        - 组织管理
      summary: 获取组织列表
      description: 分页查询租户下的所有组织
      operationId: listOrganizations
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
          description: 租户ID
        - name: org_type
          in: query
          schema:
            type: string
            enum: [company, division, department, project]
          description: 组织类型
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, frozen]
          description: 组织状态
        - name: parent_id
          in: query
          schema:
            type: string
          description: 父组织ID（查询空值表示顶级组织）
        - name: page_token
          in: query
          schema:
            type: string
          description: 分页令牌
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: 每页数量
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "SUCCESS"
                  message:
                    type: string
                    example: "操作成功"
                  data:
                    type: object
                    properties:
                      organizations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Organization'
                      total:
                        type: integer
                        example: 100
                      next_page_token:
                        type: string
                        example: "MjAyNA=="
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - 组织管理
      summary: 创建组织
      description: 创建新的组织
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "SUCCESS"
                  message:
                    type: string
                    example: "创建成功"
                  data:
                    $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /organizations/tree:
    get:
      tags:
        - 组织管理
      summary: 获取组织树
      description: 获取完整的组织架构树
      operationId: getOrganizationTree
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationTreeNode'

  /organizations/{org_id}:
    get:
      tags:
        - 组织管理
      summary: 获取组织详情
      operationId: getOrganization
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - 组织管理
      summary: 更新组织
      operationId: updateOrganization
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: 更新成功
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - 组织管理
      summary: 删除组织
      description: 软删除组织（仅当无子组织和无员工时可删除）
      operationId: deleteOrganization
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 删除成功
        '400':
          description: 组织下有子组织或员工，无法删除
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{org_id}/move:
    post:
      tags:
        - 组织管理
      summary: 移动组织
      description: 将组织移动到新的父组织下
      operationId: moveOrganization
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_parent_id
              properties:
                new_parent_id:
                  type: string
                  description: 新父组织ID（空字符串表示移动到根级别）
      responses:
        '200':
          description: 移动成功
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /departments:
    get:
      tags:
        - 部门管理
      summary: 获取部门列表
      operationId: listDepartments
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          schema:
            type: string
          description: 所属组织ID
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, frozen]
        - name: page_token
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      departments:
                        type: array
                        items:
                          $ref: '#/components/schemas/Department'
                      total:
                        type: integer
                      next_page_token:
                        type: string

    post:
      tags:
        - 部门管理
      summary: 创建部门
      operationId: createDepartment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepartmentRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Department'

  /departments/tree:
    get:
      tags:
        - 部门管理
      summary: 获取部门树
      operationId: getDepartmentTree
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          schema:
            type: string
          description: 所属组织ID（可选）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DepartmentTreeNode'

  /positions:
    get:
      tags:
        - 岗位管理
      summary: 获取岗位列表
      operationId: listPositions
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: dept_id
          in: query
          schema:
            type: string
          description: 所属部门ID
        - name: category
          in: query
          schema:
            type: string
          description: 岗位类别（技术岗/管理岗/职能岗）
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      positions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Position'
                      total:
                        type: integer

    post:
      tags:
        - 岗位管理
      summary: 创建岗位
      operationId: createPosition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePositionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    $ref: '#/components/schemas/Position'

  /employees:
    get:
      tags:
        - 员工管理
      summary: 获取员工列表
      operationId: listEmployees
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: dept_id
          in: query
          schema:
            type: string
          description: 部门ID
        - name: status
          in: query
          schema:
            type: string
            enum: [active, trial, probation, resigned]
          description: 员工状态
        - name: keyword
          in: query
          schema:
            type: string
          description: 搜索关键词（姓名/工号/手机号/邮箱）
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      employees:
                        type: array
                        items:
                          $ref: '#/components/schemas/Employee'
                      total:
                        type: integer

    post:
      tags:
        - 员工管理
      summary: 添加员工
      operationId: createEmployee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    $ref: '#/components/schemas/Employee'

  /employees/{emp_id}:
    get:
      tags:
        - 员工管理
      summary: 获取员工详情
      operationId: getEmployee
      parameters:
        - name: emp_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    $ref: '#/components/schemas/EmployeeDetail'

    put:
      tags:
        - 员工管理
      summary: 更新员工信息
      operationId: updateEmployee
      parameters:
        - name: emp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeRequest'
      responses:
        '200':
          description: 更新成功

  /employees/{emp_id}/transfer:
    post:
      tags:
        - 员工管理
      summary: 员工调岗
      description: 将员工调动到新部门或新岗位
      operationId: transferEmployee
      parameters:
        - name: emp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferEmployeeRequest'
      responses:
        '200':
          description: 调岗成功

  /employees/{emp_id}/resignation:
    post:
      tags:
        - 离职管理
      summary: 员工离职
      description: 创建离职申请
      operationId: createResignation
      parameters:
        - name: emp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResignationRequest'
      responses:
        '201':
          description: 申请成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    $ref: '#/components/schemas/Resignation'

  /directory:
    get:
      tags:
        - 通讯录
      summary: 企业通讯录
      description: 获取企业通讯录（支持多种视图）
      operationId: getDirectory
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: view
          in: query
          schema:
            type: string
            enum: [department, pinyin]
            default: department
          description: 视图类型（部门视图/拼音视图）
        - name: dept_id
          in: query
          schema:
            type: string
          description: 部门ID（view=department时有效）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'

components:
  schemas:
    Organization:
      type: object
      properties:
        org_id:
          type: string
          example: "org_123456"
        tenant_id:
          type: string
          example: "tenant_001"
        org_name:
          type: string
          example: "技术部"
        org_type:
          type: string
          enum: [company, division, department, project]
          example: "department"
        parent_id:
          type: string
          nullable: true
          example: null
        org_code:
          type: string
          example: "TECH"
        level:
          type: integer
          example: 2
        path:
          type: string
          example: "/org_001/org_123456"
        sort_order:
          type: integer
          example: 1
        status:
          type: string
          enum: [active, inactive, frozen]
          example: "active"
        description:
          type: string
          nullable: true
        leader_id:
          type: string
          nullable: true
        created_at:
          type: integer
          example: 1704067200000
        updated_at:
          type: integer
          example: 1704067200000

    OrganizationTreeNode:
      type: object
      properties:
        org:
          $ref: '#/components/schemas/Organization'
        children:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationTreeNode'

    Department:
      type: object
      properties:
        dept_id:
          type: string
          example: "dept_001"
        tenant_id:
          type: string
        org_id:
          type: string
        parent_id:
          type: string
          nullable: true
        dept_name:
          type: string
          example: "前端开发组"
        dept_code:
          type: string
          example: "FE"
        level:
          type: integer
        path:
          type: string
        sort_order:
          type: integer
        status:
          type: string
        leader_id:
          type: string
          nullable: true
        created_at:
          type: integer

    DepartmentTreeNode:
      type: object
      properties:
        dept:
          $ref: '#/components/schemas/Department'
        children:
          type: array
          items:
            $ref: '#/components/schemas/DepartmentTreeNode'

    Position:
      type: object
      properties:
        position_id:
          type: string
        tenant_id:
          type: string
        dept_id:
          type: string
          nullable: true
        position_name:
          type: string
          example: "高级工程师"
        position_code:
          type: string
          example: "SE_P3"
        level:
          type: integer
          example: 3
        category:
          type: string
          example: "技术岗"
        responsibilities:
          type: string
          nullable: true
        requirements:
          type: string
          nullable: true
        status:
          type: string
        created_at:
          type: integer

    Employee:
      type: object
      properties:
        emp_id:
          type: string
        tenant_id:
          type: string
        org_id:
          type: string
        dept_id:
          type: string
          nullable: true
        position_id:
          type: string
          nullable: true
        emp_name:
          type: string
          example: "张三"
        emp_code:
          type: string
          example: "E001"
        gender:
          type: string
          enum: [male, female, other]
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        employee_type:
          type: string
          enum: [full_time, part_time, intern, outsourcing, contractor]
        employee_status:
          type: string
          enum: [active, trial, probation, resigned, retired, suspended]
        job_level:
          type: integer
          example: 3
        job_title:
          type: string
          nullable: true
        hire_date:
          type: integer
          example: 1704067200000
        regular_date:
          type: integer
          nullable: true
        avatar_url:
          type: string
          nullable: true
        created_at:
          type: integer

    EmployeeDetail:
      allOf:
        - $ref: '#/components/schemas/Employee'
        - type: object
          properties:
            department:
              $ref: '#/components/schemas/Department'
            position:
              $ref: '#/components/schemas/Position'
            direct_leader:
              $ref: '#/components/schemas/Employee'

    Resignation:
      type: object
      properties:
        resignation_id:
          type: string
        emp_id:
          type: string
        resignation_type:
          type: string
          enum: [主动离职, 被动离职, 合同到期, 退休]
        resignation_reason:
          type: string
        apply_date:
          type: integer
        last_work_date:
          type: integer
        resignation_date:
          type: integer
        approval_status:
          type: string
          enum: [pending, approved, rejected]
        created_at:
          type: integer

    CreateOrganizationRequest:
      type: object
      required:
        - org_name
        - org_type
        - org_code
      properties:
        org_name:
          type: string
          maxLength: 200
        org_type:
          type: string
          enum: [company, division, department, project]
        org_code:
          type: string
          maxLength: 50
        parent_id:
          type: string
          nullable: true
        description:
          type: string
        leader_id:
          type: string
          nullable: true

    UpdateOrganizationRequest:
      type: object
      properties:
        org_name:
          type: string
        status:
          type: string
          enum: [active, inactive, frozen]
        description:
          type: string
        leader_id:
          type: string

    CreateDepartmentRequest:
      type: object
      required:
        - dept_name
        - dept_code
        - org_id
      properties:
        dept_name:
          type: string
        dept_code:
          type: string
        org_id:
          type: string
        parent_id:
          type: string
          nullable: true
        leader_id:
          type: string
          nullable: true

    CreatePositionRequest:
      type: object
      required:
        - position_name
        - position_code
        - category
      properties:
        position_name:
          type: string
        position_code:
          type: string
        dept_id:
          type: string
          nullable: true
        level:
          type: integer
          default: 1
        category:
          type: string
          example: "技术岗"
        responsibilities:
          type: string
        requirements:
          type: string

    CreateEmployeeRequest:
      type: object
      required:
        - emp_name
        - emp_code
        - org_id
        - hire_date
      properties:
        emp_name:
          type: string
        emp_code:
          type: string
        org_id:
          type: string
        dept_id:
          type: string
          nullable: true
        position_id:
          type: string
          nullable: true
        gender:
          type: string
          enum: [male, female, other]
        phone:
          type: string
        email:
          type: string
        employee_type:
          type: string
          enum: [full_time, part_time, intern, outsourcing, contractor]
          default: full_time
        job_level:
          type: integer
          default: 1
        hire_date:
          type: integer
        probation_days:
          type: integer
          default: 90

    UpdateEmployeeRequest:
      type: object
      properties:
        emp_name:
          type: string
        phone:
          type: string
        email:
          type: string
        dept_id:
          type: string
        position_id:
          type: string
        job_title:
          type: string

    TransferEmployeeRequest:
      type: object
      required:
        - transfer_type
      properties:
        new_dept_id:
          type: string
        new_position_id:
          type: string
        new_job_level:
          type: integer
        transfer_type:
          type: string
          enum: [调岗, 晋升, 降职, 平调]
        reason:
          type: string

    CreateResignationRequest:
      type: object
      required:
        - resignation_type
        - last_work_date
        - resignation_date
      properties:
        resignation_type:
          type: string
        resignation_reason:
          type: string
        last_work_date:
          type: integer
        resignation_date:
          type: integer

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: "COMMON201001"
              message:
                type: string
                example: "参数错误"

    Unauthorized:
      description: 未认证
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: "COMMON401001"
              message:
                type: string
                example: "未认证"

    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: "COMMON404001"
              message:
                type: string
                example: "资源不存在"

    Conflict:
      description: 资源冲突
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: "ORG50004"
              message:
                type: string
                example: "邮箱已存在"

    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: "COMMON500001"
              message:
                type: string
                example: "服务器内部错误"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
